.look_task{
  .task_no{
    background-color: #fff;
    padding:10px 15px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .task_detail{
    background-color: #fff;
    padding: 15px 0;
    margin-bottom: 15px;
    .title{
      position: relative;
      font-size: 18px;
      color: #000;
      padding: 0 15px;
      margin-bottom: 10px;
      &:after{
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        border-left: 5px solid #ff7a3c;
        width: 5px;
        height: 70%;
      }

    }
    .sort{
      position: relative;
      margin-bottom: 15px;
      padding: 0 15px;
      span{
        display: inline-block;
        margin-right: 10px;
        color: #6a6a6a;
        img{
          width: 18px;
          height: 18px;
          vertical-align: sub;
          margin-right: 6px;

        }
      }
      &:after{
        content: '';
        position: absolute;
        bottom: -10px;
        left: 15px;
        width: 92%;
        border-bottom: 1px solid #ddd;
        height: 1px;
        transform:scaleY(.6);

      }
    }
    .detail{

      >div{
        float: left;
        width: 33.33333%;
        position: relative;
        text-align: center;
        &:last-child{
          &:after{
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 1px;
            border-left:none;
          }

        }

        &:after{
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 1px;
          border-left: 1px solid #ddd;
          height: 80%;
          transform:scaleX(.6);
        }

        p{
          color: #ff7a3c;
          &+p{
            color: #6a6a6a;
          }
        }
      }
      &:after{
        clear:both;
        content:'';
        display:block;
        width:0;
        height:0;
        visibility:hidden;
      }

    }
  }
  .task_describe{
    background-color: #fff;
    padding:15px 0;
    margin-bottom: 15px;
    .title{
      position: relative;
      font-size: 16px;
      color: #000;
      padding: 0 15px;
      margin-bottom: 10px;
      &:after{
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        border-left: 5px solid #ff7a3c;
        width: 5px;
        height: 70%;
      }
    }
    .content{
      padding: 0 15px;
      font-size: 16px;
    }
    .file{
      position: relative;
      padding: 15px 10px 15px;
     >a{
       width: 25%;
       float: left;
       flex: 1;
       margin-bottom: 8px;
       color: #4a4a4a;

       p{
         min-height: 20px;
         text-overflow: ellipsis;
         display: -webkit-box;
         overflow: hidden;
         -webkit-box-orient: vertical;
         -webkit-line-clamp: 2;
         font-size: 12px;
         line-height: 14px;
         /* margin: 8px auto; */
         padding: 0 2px;
         background: #f7f7f7;
         color: #ababab;
         text-align: center;
       }
       img{
         display: block;
         width: 32px;
         height: 32px;
         vertical-align: middle;
         margin: 2px auto;
       }
     }
      &:after{
        content:".";
        clear:both;
        display:block;
        overflow:hidden;
        font-size:0;
        height:0
      }


    }
    @media screen  and (max-width: 320px){

      .file{
        padding: 15px 11px 15px;
        >div{
          width: 20%;
          margin: 8px 7px;

          p{
            min-height:30px;

          }
          img{
            display: block;
            width: 32px;
            height: 32px;
            vertical-align: middle;
            margin: 2px auto;
          }
        }
        &:after{
          content:".";
          clear:both;
          display:block;
          overflow:hidden;
          font-size:0;
          height:0
        }


      }

    }
    .tips_title{
      position: relative;
      padding: 0 15px;
      color: #ababab;
      &:after{
        content: '';
        position:absolute;
        top:-8px;
        left: 15px;
        width: 92%;
        border-bottom: 1px solid #e9e9e9;
        height: 1px;
        transform:scaleY(.6);
      }
    }
    .tips_content{
      padding: 5px 15px 0 15px;
    }
  }
  .name{
    background-color: #fff;
    padding: 5px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //margin-bottom: 90px;
    .icon{
      margin-right: 10px;
      img{
        width: 60px;
        height: 60px;
      }
    }
    .people{

      div:first-child{
        font-size: 16px;
        margin-bottom: 5px;
      }
        span{
          background-color: #ff7a3c;
          border-radius: 10px;
          font-size: 12px;
          color: #fff;
          padding: 3px 5px;
          img{
            width: 15px;
            height: 15px;
            vertical-align: sub;
          }

      }
    }


  }
/*  .task_btn_area{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
  }*/

}
