.add_booking_withdrawals{
  .bank_choose{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
    &>div{
      display: flex;
      align-items: center;
      .bank_icon{
        margin-right: 10px;
        padding: 3px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        img{
          height: 100%;
          width: 100%;
        }
      }
      .bank_information{
        .bank_name{
          color: #4a4a4a;
          font-size: 16px;
        }
        .bank_card{
          font-size: 14px;
          color: #8b8b8b;
        }
      }
    }
  }
  .withdraw_detail{
    position: relative;
    padding: 10px 15px;
    background-color: white;
    &:before{
      content: '';
      width: 100%;
      height: 1px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border-top: 1px solid #f5f5f5;
    }
    .title{
      color: #ababab;
      font-size: 14px;
      padding: 0 0 10px;
      .help{
        border-radius: 50%;
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 14px;
        text-align: center;
        margin-left: 5px;
      }
    }
    .withdraw_input{
      display: flex;
      align-items: center;
      &>span:first-child{
        color: #4a4a4a;
        font-size: 22px;
      }
      div{
        flex: 1;
        color: #dddddd;
        position: relative;
        display: flex;
        align-items: center;
        @keyframes flicker{
          from {opacity: 1;}
          to {opacity: 0;}
        }
        &>.flicker{
          display: inline-block;
          height: 16px;
          width: 1px;
          border-left: 1px solid #ababab;
          animation: flicker 1s infinite;
        }
        &>span{
          font-size: 16px;
        }
        .withdraw_money{
          color: #4a4a4a;
        }
      }
      /*input{
        flex: 1;
        color: #4a4a4a;
        font-size: 16px;
        &::placeholder{
          color: #dddddd;
        }
      }*/
    }
  }
  .withdraw_option{
    margin: 10px 0;
    background-color: white;
    &>div{
      padding: 15px;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      &:before{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        border-top: 1px solid #f5f5f5;
      }
      .title{
        display: flex;
        align-items: center;
        &>div:first-child{
          width: 18px;
          height: 18px;
          margin-right: 5px;
          img{
            height: 100%;
            width: 100%;
          }
        }
        div:last-child{
          color: #ababab;
          font-size: 14px;
        }
      }
      .option{
        display: flex;
        align-items: center;
        span:first-child{
          margin-right: 25px;
          color: #4a4a4a;
        }
      }
    }
    .withdraw_start, .withdraw_end{
      .title{
        align-items: flex-start;
        div:last-child{
          div:first-child{
            line-height: 18px;
          }
          div:last-child{
            font-size: 12px;
          }
        }
      }
    }
    .withdraw_tips{
      input{
        flex: 1;
        text-align: right;
        &::placeholder{
          color: #dddddd;
        }
      }
    }
  }
  .agreement{
    margin: 40px 0 -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
      margin: 2px 5px;
      outline: 0;
      font-size: inherit;
      vertical-align: middle;
      position: relative;
      width: 15px;
      height: 15px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      display: inline-block;
      cursor: default;
      -webkit-appearance: none;
      -moz-appearance: none;
      transition: background-color ease 0.1s;
      &:before{
        content: '';
        width: 0.5rem;
        height: 0.3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -0.25rem;
        margin-top: -0.25rem;
        background: 0 0;
        border: 1px solid #fff;
        border-top: 0;
        border-right: 0;
        z-index: 2;
        border-radius: 0;
        transform: rotate(-45deg);
      }
      &:checked{
        text-align: center;
        background-clip: padding-box;
      }
    }
  }
  .ps{
    width: 90vw;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    text-align: center;
    padding: 10px 10%;
    box-sizing: border-box;
    .title{
      font-size: 16px;
      color: #4a4a4a;
    }
    .content{
      text-align: left;
      margin: 10px 0;
      position: relative;
      &:after{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid #ababab;
      }
      div{
        font-size: 14px;
        color: #ababab;
      }
      .import{
        color: #ff7a3c;
        padding-bottom: 15px;
      }
      div+div{
        margin-top: 15px;
      }
    }
    .close{
      font-size: 18px;
      color: #ff7a3c;
    }
  }
  .limit{
    padding: 10px 15px;
    color: #ababab;
  }
}
.allow_right{
  position: relative;
  &:before{
    border: solid 1px #ddd;
    border-bottom-width: 0;
    border-left-width: 0;
    content: " ";
    top: 0;
    right: 10px;
    position: absolute;
    width: 6px;
    height: 6px;
    transform: translateY(-50%) rotate(45deg);
  }
}
.overflow{
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
