.contract_list{
  height: 100vh;
  overflow: scroll;
  .contract_list_order{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: #4a4a4a;
    font-size: 14px;
    box-shadow: 0 2px 4px #eee;
    position: relative;
    width: 100%;
    overflow: hidden;/*把处理到元素外面的滚动条隐藏*/
    .tab_box{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      /*      display: -webkit-box;
            overflow-x: scroll;
            -webkit-overflow-scrolling:touch;
            display: flex;*/

      background-color: #fff;
      >div{
        width: 25%;
        float: left;
        display: block;
        padding: 15px 8px;
        position: relative;
        box-sizing: border-box;
        text-align: center;
        font-size: 16px;
      }
    }
    .tab_box_content{
      height: 52px;
      background-color: transparent;
    }
    .selected{
      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 30%;
        height: 2px;
        background-color: #ff7a3c;
        left: 35%;
        bottom: 0;
      }
    }
  }
  .contract_list_list{
    margin-top: 15px;
    .contract_list_one{
      margin: 10px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 0 8px #ddd;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 15px;

      .content_img{
        text-align: center;
        width: 50px;
        height: 60px;
        margin-right: 10px;
        >div:first-child{
          width: 34px;
          height: 34px;
          margin: 5px auto 0;
        }
        img{
          width: 100%;
          height: 100%;
        }
        i{
          font-size: 50px;
          position: relative;
          top: -25px;
          left: -8px;
          &.icon-File_Stars{

            opacity: .3;
          }

        }



      }
      .content_line{
        width: 10px;
        height: 58px;
        margin-right: 10px;
        img{
          width: 100%;
          height: 100%;
        }
        &.grey{
          img{
            -webkit-filter: grayscale(100%);
          }
        }
      }
      .content{
        width: calc(~'100vw - 130px');
      }
      .contract_is_read{

        margin-bottom: 5px;
        .title{
          font-weight: 500;
          color: #ff4646;
        }
      }
      .contract_information{
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        margin-bottom: 5px;
        width: 290px;
        @media screen and (max-width: 375px){
          width: 250px;
        }
        @media screen and (max-width: 320px){
          width: 190px;
        }
        .contract_name{
          width: 95%;
          font-size: 16px;
          color: #4a4a4a;
          line-height: 20px;
          max-height: 40px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis
        }

      }
      .contract_time{
        span{
          color: #ababab;
          font-size: 14px;
          vertical-align: middle;
        }
        img{
          width: 12px;
          height: 12px;
          vertical-align: middle;
        }
      }
      .contract_state{
        font-size: 12px;
        line-height: 22px;
        margin: 0 10px;
        &.grey{
          -webkit-filter: grayscale(100%);
          opacity: .4;
        }
        &.op{
          opacity: .4;
        }

      }

    }
    .bill_nodata_img{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: calc(~'100vh - 100px');

      img{
        width: 110px;
        height: 110px;
      }
      div{
        padding-top: 20px;
        color: #ababab;
        font-size: 14px;
      }
    }

  }
}
