
.add_card_two{
  background-color: #f5f5f5;
  .card_information_input{
    padding: 10px 4%;
    .card_information{
      box-sizing: border-box;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 0 8px #ddd;
      overflow: hidden;
      &>div{
        display: flex;
        font-size: 16px;
        color: #ababab;
        position: relative;
        padding: 15px 4%;
      }
      div+div:after{
        content: '';
        display: block;
        position: absolute;
        width: 98%;
        height: 1px;
        transform: scaleY(.4);
        border-bottom: 1px solid #e9e9e9;
        left: 15px;
        top: 0;
      }
      .card_user{
        align-items: center;
        span:first-child{
          width: 30%;
          text-align: left;
        }
        span:last-child{
          width: 70%;
          text-align: left;
          color: #4a4a4a;
        }
      }
      .card_ID{
        align-items: flex-end;
        input{
          width: 70%;
          height: 22px;
          border: none;
          outline: none;
          color: #4a4a4a;
        }
        span{
          width: 30%;
          text-align: left;
        }
      }
      .card_bank {
        align-items: center;
        justify-content: space-between;
        .bank_name{
          display: flex;
          align-items: center;
          img{
            width: 26px;
            height: 26px;
            margin-right: 5px;
          }
        }
      }
      .card_tel{
        justify-content: space-between;
        align-items: center;
        span:first-child{
          width: 30%;
        }
        input{
          color: #4a4a4a;
          text-align: left;
          flex: 1;
        }
        span:last-child{
          color: #FE6D58;
          border: 1px solid #FE6D58;
          display: inline-block;
          font-size: 14px;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          line-height: 16px;
          text-align: center;
        }
      }
      .card_code{
        justify-content: space-between;
        align-items: center;
        span:first-child{
          width: 30%;
          flex-shrink: 0;
        }
        input{
          width: 40%;
          color: #4a4a4a;
          flex: 1;
        }
        span:last-child{
          font-size: 14px;
          white-space: nowrap;
          flex-shrink: 0;
          height: 18px;
          line-height: 18px;
          padding: 2px 8px;
          border-radius: 10px;
          background: linear-gradient(to left, #ff7a3b, #ff6855);
          color: white;
          text-align: center;
        }
      }
    }
    .card_information_ps{
      padding: 10px 5px;
      font-size: 14px;
      color: #808080;
      text-align: left;
    }
    .bank_information{
      box-sizing: border-box;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 0 8px #ddd;
      .bank_place{
        display: flex;
        font-size: 16px;
        color: #ababab;
        padding: 15px 4%;
        position: relative;
        align-items: center;
        justify-content: space-between;
        i {
          position: relative;
          &:after {

            border: solid 2px #ddd;
            border-bottom-width: 0;
            border-left-width: 0;
            content: " ";
            top: 0;
            right: 5px;
            position: absolute;
            width: 5px;
            height: 5px;
            transform: translateY(-50%) rotate(45deg);
          }
        }
        &:after{
          content: '';
          display: block;
          position: absolute;
          width: 98%;
          height: 1px;
          transform: scaleY(.4);
          border-bottom: 1px solid #e9e9e9;
          left: 15px;
          bottom: 0;
        }

        &>span{
          width: 30%;
          text-align: left;
        }
        div{
          color: #4a4a4a;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 70%;
        }
        img{
          width: 24px;
          height: 24px;
        }
      }
      .bank_sub{
        display: flex;
        font-size: 16px;
        color: #ababab;
        padding: 15px 4%;
        position: relative;
        align-items: flex-end;
        justify-content: space-between;
        span{
          width: 30%;
          text-align: left;
        }
        input{
          width: 70%;
          border: none;
          outline: none;
          font-size: 16px;
          height: 22px;
          color: #4a4a4a;
        }
      }
    }
    .must_input{
      &:before{
        content: '*';
        color: #ff4646;
        position: absolute;
        top: 45%;
        left: 2%;
        transform: translateY(-50%);
      }
    }
  }
  .information_picker{
    width: 100%;
    .picker_btn{
      display: flex;
      justify-content: space-between;
    }
  }
}
.body_overflow{
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
