.loading{
  background-color: white;
  height: calc(100vh);
  width: 100%;
  position: fixed;
  .bg{
    width: 280px;
    height: 272px;
    margin: 100px auto;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .font{
    font-size: 26px;
    text-align: center;

  }
  .bottom{
    position: fixed;
    bottom: 0;
    width: 429px;
    img{
      width: 100%;
    }
  }
}
