
/*字体颜色*/
.color_text{
  color: #147fff!important;
}
.color_text:after{
  background-color: #78aff1!important;
}
/*边框颜色+字体颜色*/
.border_color{
  border-color: #147fff!important;
  color: #147fff!important;
}
/*背景颜色*/
.color_background{
  background-color: #147fff!important;
}
/*背景颜色-渐变*/

.color_background_gradient{
  background: -webkit-linear-gradient(270deg,#78aff1, #147fff)!important;
}
/*做边框颜色*/
.border_color_left{
  border-left: 5px solid #147fff!important;
}
/*下边框颜色*/
.border_color_bottom{
  border-bottom: 1px solid #147fff!important;
}
/*按钮颜色-实心*/
button.btn_color {
  background: linear-gradient(to left, #78aff1, #147fff)!important;
}
/*按钮颜色-空心*/
.btn_border,button.btn_border{
  color: #26a2ff!important;
  border: 1px solid #26a2ff!important;
}

/*--------------------------------------------------------------------------*/
/*圆圈对勾颜色-任务详情*/
.circle_color{
   border: 1px solid #147fff!important;
  background-color: #e7f2ff!important;
 }
.circle_color:after{
  color: #147fff!important;
  border-bottom: 1px solid!important;
  border-right: 1px solid!important;
  border-left: none!important;
}
/*--------------------------------------------------------------------------*/
/*渐变背景-我的&余额*/
.change_color_background{
  background: url("../../static/images/main_bg.png") ,-webkit-linear-gradient(180deg,#78aff1, #147fff)!important;
}
/*--------------------------------------------------------------------------*/
/*渐变背景-银行卡*/
.change_color_background_bank_card {
  background: -webkit-linear-gradient(270deg,#78aff1, #147fff)!important;
}

/*--------------------------------------------------------------------------*/
/*伪类边框-发现&任务详情*/
.before_border:before{
  background-color: #147fff!important;
 }
.before_border:after{

  background-color: #89bfff!important;
}

/*--------------------------------------------------------------------------*/
.task_square .select_content .select_list .selected{
  border: 1px solid #147fff!important;
  background-color: #edf5fe!important;
}
.task_square .select_btn .orangeText .up{
  border-bottom: 5px solid #147fff!important;
}
.confirm_btn_orange {
  color: #147fff!important;
}
.withdraw .withdraw_info .withdraw_bank{

  background: -webkit-gradient(linear, left top, right top, from(#78aff1), to(#147fff))!important;
  background: linear-gradient(90deg, #78aff1, #147fff)!important;

}

.task_square .order .ability_tags .tags_list .selected{
  border: 1px solid #147fff!important;
  background-color: #edf5fe!important;
}
.task_square .order .clickBtn .cancel{
  border: 1px solid #147fff!important;
  color: #147fff!important;
}

.task_square .order .clickBtn .confirm {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#78aff1), to(#147fff))!important;
  background: linear-gradient(90deg, #78aff1, #147fff)!important;;
}

.task_square .select_btn .orangeText .down {
  border-top: 5px solid #147fff!important;
}
.mint-switch-input:checked + .mint-switch-core {
  border-color: #26a2ff!important;
  background-color: #26a2ff!important;
}

.payroll .company_and_money{

  background: url("../../static/images/main_bg.png"),-webkit-linear-gradient(270deg,#78aff1, #147fff)!important;
}

.money_confirm_btn .button_left{
  color: #26a2ff!important;
  border: 1px solid #26a2ff!important;
}
.payroll .company_and_money .money div.wages + div{
  color: #fff!important;
}

.color_text_bg{
  background-color: #26a2ff!important;
  color: #fff!important;
}

/*弹框按钮等*/
.mint-msgbox-btns> .mint-msgbox-confirm {
  color: #147fff!important;
}
.person_information .mint-popup .example .example_button button{

  color: #147fff!important;
}
