html,body {
  /*height: 100%;*/
  user-select: none;
}
html {
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.6;
  background-color: #f5f5f9;
  color: #4a4a4a;
  font-size: 14px;
  font-family: Arial,'微软雅黑',Helvetica Neue,Helvetica,sans-serif;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
* {
  margin: 0;
  padding: 0;
}

a img {
  border: 0;
}

a,ul,li,button,span,div,p {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-family: Arial,'微软雅黑',Helvetica Neue,Helvetica,sans-serif;

}

input,textarea,button{
  border: 0;
  outline: 0;
  -webkit-appearance:none;
  -webkit-tap-highlight-color: transparent;
  font-size: inherit;
  color: inherit;
}

.ovfHiden {
  overflow: hidden;
  height: 100%;
}

.message_btn_color{
  color: #eb5e26;
}
/*加载更多*/
.loadmore {
  text-align: center;
  color: #8a8a8a;
  padding: 10px 0 15px;

}
.loadmore span,
.loadmore div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadmore span.data {
  position: relative;
  padding: 0 15px;
}
.loadmore span.data:after {
  content: '';
  position: absolute;
  border-top: 1px solid #ddd;
  top: 11px;
  left: -80px;
  width: 50%;
  height: 1px;
}
.loadmore span.data:before {
  content: '';
  position: absolute;
  border-top: 1px solid #ddd;
  top: 11px;
  right: -80px;
  width: 50%;
  height: 1px;
}

.confirm_btn_orange{
  color: #ff7d37!important;
  font-size: 16px;
}
.cancel_btn{
  font-size: 16px;
}

.mint-msgbox-btns {
  display: flex;
  height: 50px!important;
  line-height: 50px!important;
}
.color_text{
  color: #ff7a3c;
}
.color_background{
  background-color: #ff7a3c;
}
.change_color_background_mine{
  background: url("../../static/images/main_bg.png") ,-webkit-linear-gradient(180deg,#f99060,#ff6855);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.change_color_background_bank_card{
  background: -webkit-linear-gradient(270deg,#ff6559,#ff7d37);
}
.change_color_background_bank_card:after{
  content: '';
  position: absolute;
  top: -250px;
  left: -150px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
}
