html,body {
  /*height: 100%;*/
  user-select: none;
}
html {
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.6;
  background-color: #f5f5f9;
  color: #4a4a4a;
  font-size: 14px;
  font-family: Arial,'微软雅黑',Helvetica Neue,Helvetica,sans-serif;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
* {
  margin: 0;
  padding: 0;
}

a img {
  border: 0;
}

a,ul,li,button,span {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-family: Arial,'微软雅黑',Helvetica Neue,Helvetica,sans-serif;

}

input,textarea{
  border: 0;
  outline: 0;
  -webkit-appearance:none;
  -webkit-tap-highlight-color: transparent;
  font-size: inherit;
  color: inherit;
}

.message_btn_color{
  color: #eb5e26;
}
/*加载更多*/
.loadmore {
  text-align: center;
  color: #8a8a8a;
  margin: 10px 0 15px;

}
.loadmore span,
.loadmore div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadmore span.data {
  position: relative;
  padding: 0 15px;
}
.loadmore span.data:after {
  content: '';
  position: absolute;
  border-top: 1px solid #ddd;
  top: 11px;
  left: -80px;
  width: 50%;
  height: 1px;
}
.loadmore span.data:before {
  content: '';
  position: absolute;
  border-top: 1px solid #ddd;
  top: 11px;
  right: -80px;
  width: 50%;
  height: 1px;
}

.confirm_btn_orange{
  color: #ff7d37!important;
  font-size: 16px;
}
.cancel_btn{
  font-size: 16px;
}

.mint-msgbox-btns {
  display: flex;
  height: 50px!important;
  line-height: 50px!important;
}

