.personal_center{
  background-color: rgb(247,247,247);
  .personal_information{

    margin: 30px 15px 0 15px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 8px #ddd;
    overflow: hidden;
  }


    .information_list{
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 4%;
      box-sizing : border-box;
      position : relative;
      color: #ababab;
      .mobile{
        color: #4a4a4a;
      }
      .identification{
        color: rgb(236,86,78);
        display: flex;
        align-items : center;
      }
      img{
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
    }
    .information_list+.information_list:before{
      content: '';
      width: 92%;
      height: 1px;
      display: block;
      position: absolute;
      border-top: 1px solid #ddd;
      transform: scaleY(.6);
      top: 0;
      left: 4%;
    }
  }
  .personal_btn{
    width: 100%;
    box-sizing: border-box;
    padding: 0 4%;
  }


