
.tel_change{
  padding-top: 15px;
  .tel_now{
    width: 92%;
    margin: 0 4% 40px;
    background-color: white;
    border-radius: 5px;
    padding: 15px 15px 20px;
    box-sizing : border-box;
    text-align: center;
    div:first-child{
      color: #ababab;
    }
    div:last-child{
      margin-top: 20px;
      color: #4a4a4a;
      font-size: 20px;
    }
  }
  .change_btn{
    width: 100%;
    box-sizing: border-box;
    .change_ps{
      text-align: center;
      color: #ababab;
      font-size: 12px;
      margin-top: 5px;
    }
  }
}
