.footer{
  position: relative;
  z-index: 999;
  font-size: 16px;
  .void_bottom{

    box-sizing: border-box;
    height: 100%;
    padding-bottom: 62px;
    overflow: auto;

  }

}

.tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;;
  & > ul, & > ul > div {
    margin: 0;
    padding: 0;
  }
  ul {
    display: table;
    width: 100%;
    color: #ababab;
    & > div {
      text-align: center;
      font-size: 16px;
      display: table-cell;
      padding: 4px 12px;
      cursor: pointer;
      line-height: 24px;
      position: relative;
      &.router-link-active{
          text-decoration: none;

      }
      &.hasNew:after{
        content: '';
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(10px);
        width: 8px;
        height: 8px;
        display: block;
        background-color: red;
        border-radius: 50%;
      }
      & > div {
        font-size: 12px;
        & > i {
          font-size: 46px;
          margin-top: 8px;
          display: block;
        }
      }
    }
  }
  &:after{

    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 1px;
    color: #ddd;
    border-top: 1px solid #e9e9e9;
    transform: scaleY(.6);

  }
}
